@import url("./preflight.css");
@import url("./properties.css");

:root {
  font-family: "Cousine", ui-monospace, "Cascadia Code", "Source Code Pro",
    Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: clamp(1rem, 4vw, 1.15rem);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: var(--color-base);
  color: var(--color-text);
}

*::selection {
  background-color: var(--color-peach);
}

*:focus-visible {
  outline: 2px dashed var(--color-primary);
  outline-offset: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  max-width: 60ch;
}

a {
  text-decoration: 2px underline dashed var(--color-primary);
  text-underline-offset: 25%;
}

a:focus,
a:hover,
button:focus,
button:hover {
  background: var(--color-peach);
}

.container {
  width: min(100ch, 100vw - 2rem);
  margin: 0 auto;
}
